@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

.race-tracker-lane {
	
    .track-bg {
        height: 8px;
    }

    .track-progress {
        height: 100%;
        border-radius: 50rem;
        transition: width 0.5s ease;
    }

    .racer-avatar {
        position: absolute;
        width: 44px;
        height: 44px;
        object-fit: cover;
        background-color: #ffffff; // bg-white
        transition: left 0.5s ease;
        z-index: 2;
    }
}